@font-face {
    font-family: 'wc_mano_negra_btabold';
    src: url('WCManoNegraBoldBta-webfont.eot');
    src: url('WCManoNegraBoldBta-webfont.eot?#iefix') format('embedded-opentype'),
        
         url('WCManoNegraBoldBta-webfont.woff') format('woff'),
         url('WCManoNegraBoldBta-webfont.ttf') format('truetype'),
         url('WCManoNegraBoldBta-webfont.svg#wc_mano_negra_btabold') format('svg');
    font-weight: normal;
    font-style: normal;
    /*font-display: swap;*/
}


a {
    color: #ec4471;
}

a:hover {
    text-decoration: none;
    color: #0a1f2d;
}

.postlist {
    max-width: 1080px;
    margin: 0;
    padding: 0;
}

.postlist li {
    padding-bottom: 1rem;
}

.flex-grow-1 {
    max-width: 100%;
}

.postlist-item {
    background: #fff;
    outline: 1px solid #f3f3f3;
    padding: 1rem;
    border-radius: 0;
    margin: 1rem 0;
    height: 100%;
    color: #5d666b;
}

.postlist-item p a {
    color: #5d666b;
}

.postlist-link, .postlist-date {
    display: block;
}

.postlist-link {
    font-family: 'wc_mano_negra_btabold';
    font-size: 2rem;
}

.post-leadimage {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 10px;
}

a.post-tag {
    color: #fff;
    background: #ec4471;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: .8rem;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
    letter-spacing: .5px;
}

.postlist-date {
    font-size: 1rem;
    text-transform: uppercase;
    color: #6b7377;
}

.fp__header {
    margin:10px auto 0;max-width: 1024px;
}

h1.home {
    font-family: 'wc_mano_negra_btabold';
    font-size: 4rem;
    color: #0a1f2d;
    margin: 2rem 0 0;
}

h1.home a {
    color: #0a1f2d;
}

header {
    margin-bottom: 0;
}

.tmpl-post {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
}

.tmpl-post h1 {
    font-family: 'wc_mano_negra_btabold';
    font-size: 5rem;
}

.tmpl-post h2 {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 2.5rem;
    padding: 0;
}

.tmpl-post img {
    max-width: 100%;
}

.tmpl-post em {
    color: #ec4471;
}

.tmpl-post .direct-link {
    vertical-align: super;
    font-size: 1rem;
}