---
layout: layouts/base.njk
---

<section class="row justify-content-center">
    <div class="col-md-6">
        

<form name="website-contact" method="POST" data-netlify="true" class="row website-contact-form">
    <div class="col-12">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" required />
    </div>
    <div class="col-12">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" required />
    </div>
    <div class="col-12">
      <label for="message">Message</label>
      <textarea id="message" name="message" required></textarea>
   </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary btn-lg">Send</button>
    </div>
  </form>

  </div>
  </section>