---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% set postslist = collections.posts | head(-20) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p><a href="{{ '/posts/' | url }}" class="btn">View all posts</a></p>
