---
title: The Face Pack
description: Discover the best sheet, rinse and peel masks from around the world.
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% include "homepage.njk" %}

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
<div class="row justify-content-center">
  <div class="col-6">
    <h6>Latest Blog Posts</h6>
    <p class="h6-sub">
  <a href="{{ '/posts/' | url }}">View all posts</a>
</p>
    {% include "postslist.njk" %}
  </div>
</div>