---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% include "homepage.njk" %}

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
<div class="row justify-content-center">
  <div class="col-6">
    <h4>Latest Blog Posts</h4>
    {% include "postslist.njk" %}
  </div>
</div>

<p>
  <a href="{{ '/posts/' | url }}" class="btn">View all posts</a>
</p>