---
layout: layouts/base.njk
---
<section class="row justify-content-center thanks mt-3 pt-3">
    <div class="col-md-6 text-center justify-content-center ">
        <h2>You're all signed up!</h2>

        <h1>Thanks For Joining The Face Pack</h1>

        <p>As the newest member of The Face Pack you'll be able to start pampering your skin with the best sheet, rinse and peel face masks from around the world very soon.</p>
        <p>We are packing up your first month's subscription and you'll receive it in the next few days, in the mean time if you want to get in touch you can email us at <a href="mailto:hi@thefacepack.com">hi@thefacepack.com</a></p>
    
    
    <img class="d-block w-100" src="/img/product/holding-1.png" alt="Top down view of product">
    <div><em>On its way!</em></div>
    
    </div>

</section>