<section class="row justify-content-center text-center fp__brand-logos mt-3 mb-3">

    <div class="container">
        <section class="customer-logos slider">
            <div class="slide"><img src="../img/brands/_purederm.png" alt="PureDerm"></div>
            <div class="slide"><img src="../img/brands/_skin-academy.png" alt="Skin Academy"></div>
            <div class="slide"><img src="../img/brands/_eveline.png" alt="Eveline"></div>
            <div class="slide"><img src="../img/brands/_bielenda.png" alt="Bielenda"></div>
            <div class="slide"><img src="../img/brands/_w7.png" alt="w7"></div>
        </section>
    </div>
    <h5>All the top brands you know and love, plus discover loads more from around the world</h5>
</section>