<section class="row justify-content-center text-center fp__brand-logos mt-3 mb-3">
    <h5>Discover exciting skincare brands from all over the world, plus top UK brands...</h5>

    <div class="container">
        <section class="customer-logos scroller slider">

{% for brand in brands %}
    <div class="slide"><img src="../img/brands/{{brand.logo}}" alt="{{brand.name}}"></div>
{% endfor %}
        </section>
    </div>
    
</section>