<div class="jumbotron callout text-center mt-3 mb-3">
  <img src="/img/not-a-member-yet-txt.png" alt="not a member yet?" title="not a member yet?" />
  <p class="lead">Join the ultimate sheet, rinse and peel face mask discovery club</p>
    <a class="btn btn-primary btn-lg" href="/subscribe" role="button">Learn more</a>
</div>