<section class="row justify-content-center mt-3">
    <div class="col-md-4 row align-items-center justify-content-center text-center">

        <blockquote class="blockquote blockquote--product text-center testimonial testimonial--one">
            <div class="blockquote--product-rating">
                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
            </div>
            <p class="mb-0">I love how each month is different - its such a great way to discover new face masks from all over the world. I feel like my skin care routine has levelled up!&nbsp;&nbsp;</p>
            <footer class="blockquote-footer">Lynn, Scotland</cite>
        </footer>
    </blockquote>
</div>

</section>