<section class="row justify-content-center text-center fp__tabs">
    <div class="col-md-6 row justify-content-center">

        <ul class="nav nav-pills flex-grow-1" id="myTab" role="tablist">
            <li class="nav-item flex-grow-1" role="presentation">
                <a class="" id="subscription-btn" data-toggle="tab" href="#subscription-tab" role="tab" aria-controls="subscription-tab" aria-selected="true">Subscription</a>
            </li>
            <li class="nav-item flex-grow-1" role="presentation">
                <a class="active" id="masks-btn" data-toggle="tab" href="#masks-tab" role="tab" aria-controls="masks-tab" aria-selected="false">Masks</a>
            </li>
            <li class="nav-item flex-grow-1" role="presentation">
                <a class="" id="shipping-btn" data-toggle="tab" href="#shipping-tab" role="tab" aria-controls="shipping-tab" aria-selected="false">Shipping</a>
            </li>
        </ul>
    </div>
</section>

<section class="row justify-content-center fp__tab-content">
    <div id="accordion" class="col-12 justify-content-center ">
        <div class="tab-content" id="myTabContent">

            <div class="tab-pane" id="subscription-tab" role="tabpanel" aria-labelledby="subscription-btn">

                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-block text-left" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <strong>When do my face masks arrive?</strong>
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <p>The Face Pack monthly subscription service is, well… monthly! We post your first pack out on the first working day after you sign up for your beauty box subscription (so there is no waiting to start that new skin care routine!) and then we send your packages on the same day every month.</p>
                            <p>For example, if you sign up for The Face Pack on the 5th of October - we post your first package out on the 6th of October, your second package on the 6th of November and so on.</p>

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <strong>When will I be billed?</strong>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <p>You will be billed monthly on the date you started your subscription.</p>
                            <p></div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <strong>Can I give The Face Pack skincare subscription box as a gift?</strong>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                <p>Monthly beauty subscription boxes make an excellent gift and sending someone special a selection of the best sheet, rinse and peel beauty facial masks from around the world to discover every month will likely get you plenty of brownie points.
                                </p>
                                <p>You can absolutely send our monthly subscription packs out as a gift, just change the delivery address to that of the person you’d like to receive the gift. It's important to remember that you are the owner of the subscription and so it's you who will have to pay monthly and who will need to cancel the subscription.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <strong>How can I cancel my skincare subscription box?</strong>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                <p>If you decide you no longer want our help achieving that dewy, glowing skin look then that's no problem. Just head over to the
                                    <a href="#">Manage Account</a>
                                    page and you can cancel from there. Subscriptions are cancelled right away so as long as we are not sending your subscription box out that day you won’t receive any more sheet masks, rinse off masks or peel off masks through your letterbox (well, not from us anyway!).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="masks-tab" role="tabpanel" aria-labelledby="masks-btn">

                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <strong>What is in my package?</strong>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body">
                                <p>Inside your shiny monthly subscription pack you will find a selection of either four, eight or twelve beauty facial masks depending on the selection you made during signup. The selection will be split between sheet masks, rinse off masks and peel off masks and the split will vary each month. Sometimes you’ll get more masks (because we like to treat our pack members when we can!) but you’ll never get less than the stated amount. Occasionally we may mix things up and add novel items we think you’d love such as eye masks or lip masks.</p>
                                <p>Also in your package will be a
                                    <a href="#">QR code</a>
                                    which you can scan with your phone to access detailed information about each face mask in your package.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h5 class="mb-0">
                                <button class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    <strong>What will my package look like?</strong>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                            <div class="card-body">
                                <p>Here are some photos from people who have received their packages to give you an idea of what the experience of receiving a selection of the best sheet, rinse and peel beauty facial masks in the post is like.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="shipping-tab" role="tabpanel" aria-labelledby="shipping-btn">

                    <div class="card">
                        <div class="card-header" id="headingSeven">
                            <h5 class="mb-0">
                                <button class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    <strong>How much does shipping cost?</strong>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                            <div class="card-body">
                                 <p>We don’t believe in charging a delivery fee on top of your order like some other beauty subscription boxes have been known to do. Shipping is absolutely free and you’ll never pay a delivery fee as long as you are within the mainland UK.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingEight">
                            <h5 class="mb-0">
                                <button class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    <strong>Do you ship internationally?</strong>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                            <div class="card-body">
                                <p>We’re focussing on helping the people of the United Kingdom achieve beautiful, dewy, bright glowing skin at the moment so unfortunately we don’t ship internationally right now. If you are outside the UK and desperate to receive the best beauty facial masks from around the world through your letterbox as well then you can always
                            <a href="#">contact us</a>
                            and we’ll let you know when we are able to deliver to your region.</p>
                            </div>
                        </div>
                    </div>

                    
                    <div class="card">
                        <div class="card-header" id="headingNine">
                            <h5 class="mb-0">
                                <button class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    <strong>Will I have to be in to sign for my package?</strong>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                            <div class="card-body">
                                 <p>Packages are sent via Royal Mail standard delivery and have been specially designed to fit through your letterbox so there is no need to wait in and no chance of the dreaded red 'something for you' card from the postman.</p>
                            </div>
                        </div>
                    </div>
                                        
                    <div class="card">
                        <div class="card-header" id="headingTen">
                            <h5 class="mb-0">
                                <button class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                    <strong>Can I track my package?</strong>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
                            <div class="card-body">
                                   <p>Royal Mail don’t offer tracking for standard packages so unfortunately we can’t supply you with a tracking number. We will email you the day your subscription is sent out so you know it's on its way and parcels should then arrive after two to three working days including Saturdays.</p>
                            </div>
                        </div>
                    </div>

                                        <div class="card">
                        <div class="card-header" id="headingEleven">
                            <h5 class="mb-0">
                                <button class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                    <strong>I didn’t receive my package</strong>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
                            <div class="card-body">
                                   <p>If you are not pampering yourself with a brightening mask or tackling those blackheads with a charcoal mask on the day you expected to be then we feel your pain! Please leave up to a week for Royal Mail to deliver your parcel and if it has not arrived by then contact us and we’ll sort it out.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>