<section class="free-shipping justify-content-center text-center d-print-none">

    <div class="container">
        <section class="benefits-bar scroller slider">
            <div class="slide">
                Free UK Shipping on all subscriptions!
            </div>
            <div class="slide">
                Secure online payment
            </div>
        </section>
    </div>

</section>