<div class="col-lg-6" style="margin: 0 auto;">
    <section class="row justify-content-center text-center">

        <ul class="fp__envelope row col-lg-7">
            <li class="one col fade-in"><img src="img/masks/1.png" alt="mask"></li>
            <li class="two col fade-in"><img src="img/masks/2.png" alt="mask"></li>
            <li class="three col fade-in"><img src="img/masks/3.png" alt="mask"></li>
            <li class="four col fade-in"><img src="img/masks/4.png" alt="mask"></li>
            <li class="five col fade-in delay"><img src="img/masks/5.png" alt="mask"></li>
            <li class="six col fade-in"><img src="img/masks/6.png" alt="mask"></li>
            <li class="seven col fade-in"><img src="img/masks/7.png" alt="mask"></li>
            <li class="eight col fade-in"><img src="img/masks/8.png" alt="mask"></li>

            <li class="one col fade-in-alt"><img src="img/masks/9.png" alt="mask"></li>
            <li class="two col fade-in-alt"><img src="img/masks/10.png" alt="mask"></li>
            <li class="three col fade-in-alt"><img src="img/masks/11.png" alt="mask"></li>
            <li class="four col fade-in-alt"><img src="img/masks/12.png" alt="mask"></li>
            <li class="five col fade-in-alt"><img src="img/masks/13.png" alt="mask"></li>
        </ul>
        <div class="col-lg-5">
            <img src="img/women-applying-face-masks.png" alt="Women applying face masks" style="
    width: 100%;max-width:330px;">
        </div>

    </section>

</div>
<div class="row justify-content-center text-center">
    <h2 class="home-h2">Discover a whole new world of skincare</h2>
</div>

<div class="col-12">
    <section class="row justify-content-center text-center fp__h1">
        <div class="col-md-6 row justify-content-center text-center">
            <h1>The best sheet, rinse and peel beauty facial masks from around the world delivered through your letterbox monthly -
                <strong>Join the ultimate face mask subscription club!</strong>
            </h1>
        </div>
    </section>
</div>
</header>
</div>
</section>

<section class="row justify-content-center text-center fp__h3">
<h3 class="m-4">Join the pack!</h3>
</section>

{% include "pricing-box.njk" %}
{% include "usp.njk" %}
{% include "brand-carousel.njk" %}
{% include "faq.njk" %}
{% include "email-signup--small.njk" %}
