<div class="col-lg-6" style="margin: 0 auto;">
            <section class="row justify-content-center text-center">

                <ul class="fp__envelope row col-lg-7">
                    <li class="one col fade-in"><img src="img/masks/1.png" alt="mask"></li>
                    <li class="two col fade-in"><img src="img/masks/2.png" alt="mask"></li>
                    <li class="three col fade-in"><img src="img/masks/3.png" alt="mask"></li>
                    <li class="four col fade-in"><img src="img/masks/4.png" alt="mask"></li>
                    <li class="five col fade-in delay"><img src="img/masks/5.png" alt="mask"></li>
                    <li class="six col fade-in"><img src="img/masks/6.png" alt="mask"></li>
                    <li class="seven col fade-in"><img src="img/masks/7.png" alt="mask"></li>
                    <li class="eight col fade-in"><img src="img/masks/8.png" alt="mask"></li>

                    <li class="one col fade-in-alt"><img src="img/masks/9.png" alt="mask"></li>
                    <li class="two col fade-in-alt"><img src="img/masks/10.png" alt="mask"></li>
                    <li class="three col fade-in-alt"><img src="img/masks/11.png" alt="mask"></li>
                    <li class="four col fade-in-alt"><img src="img/masks/12.png" alt="mask"></li>
                    <li class="five col fade-in-alt"><img src="img/masks/13.png" alt="mask"></li>
                    <!--
                                    <li class="six col fade-in-alt"><img src="img/masks/14.png" alt="mask"></li>
                                <li class="seven col fade-in-alt"><img src="img/masks/15.png" alt="mask"></li>
                                <li class="eight col fade-in-alt"><img src="img/masks/16.png" alt="mask"></li>
                                -->
                </ul>
                <div class="col-lg-5">
                    <img src="img/women-applying-face-masks.png" alt="Women applying face masks" style="
    width: 100%;max-width:330px;">
                </div>

            </section>

        </div>
        <div class="row justify-content-center text-center">
            <h2 class="home-h2">Discover a whole new world of skincare</h2>
        </div>

        <div class="col-12">
            <section class="row justify-content-center text-center fp__h1">
                <div class="col-md-6 row justify-content-center text-center">
                    <h1>The best sheet, rinse and peel beauty facial masks from around the world delivered through your letterbox monthly - <strong>Join the
                            ultimate face mask
                            subscription club!</strong>
                    </h1>
                </div>
            </section>
        </div>
        </header>
    </div>
    </section>

    <section class="row justify-content-center text-center fp__h3">
        <h3 class="m-4">Join the pack!</h3>
    </section>

    <a name="pricing" id="pricing"></a>

    <section class="row justify-content-center text-center fp__pricing mb-5">
        <div id="error-message"></div>
        <div class="col-sm-7 row">
            <div class="col-lg-4">
                <section class="fp__price row align-items-center">
                    <div class="col col-12 hidden-sm-down p-0 packs tt">
                        <div class="pack"></div>
                        <div class="pack"></div>
                        <div class="pack"></div>
                        <div class="pack"></div>
                        <div class="pack"></div>
                        <div class="pack"></div>
                        <div class="pack"></div>
                        <div class="pack"></div>
                        <div class="pack"></div>
                        <div class="pack"></div>
                        <div class="pack"></div>
                        <div class="pack"></div>
                    </div>
                    <div class="col col-md-12 fp__price-info">
                        <ul>
                            <li>Terrific Twelve</li>
                            <li>12 Masks per month</li>
                            <li>£2.00 per mask</li>
                            <li>Free UK delivery</li>
                        </ul>
                        <a href="/subscribe" class="more-info">More Info</a>

                    </div>
                    <div class="col col-sm-12 p-2">
                        <div class="fp__subprice">
                            <sup>&pound;</sup>24</div>
                        <small>Monthly &bull; Cancel any time</small>

                        <button id="checkout-button-price_1HUpsQCazeDg6hkdVhGZ4b9l" class="btn btn-lg btn-primary btn-block mt-2" role="link" type="button">
                            Sign Up
                        </button>

                    </div>

                </section>
            </div>
            <div class="col-lg-4">
                <section class="fp__price fp__price--alt row align-items-center">
                    <div class="col col-12 hidden-sm-down p-0 packs ee">
                        <div class="pack"></div>
                        <div class="pack"></div>
                        <div class="pack"></div>
                        <div class="pack"></div>
                        <div class="pack"></div>
                        <div class="pack"></div>
                        <div class="pack"></div>
                        <div class="pack"></div>

                    </div>
                    <div class="col col-md-12 fp__price-info">
                        <ul>
                            <li>Excellent Eight</li>
                            <li>8 Masks per month</li>
                            <li>£2.50 per mask!</li>
                            <li>Free UK delivery</li>
                        </ul>
                        <a href="/subscribe" class="more-info">More Info</a>
                    </div>
                    <div class="col col-sm-12 p-2">
                        <div class="fp__subprice">
                            <sup>&pound;</sup>20</div>
                        <small>Monthly &bull; Cancel any time</small>

                        <button id="checkout-button-price_1HUptdCazeDg6hkd2trImC87" class="btn btn-lg btn-primary btn-block mt-2" role="link" type="button">
                            Sign Up
                        </button>
                    </div>

                </section>
            </div>
            <div class="col-lg-4">
                <section class="fp__price row align-items-center">
                    <div class="col col-12 hidden-sm-down p-0 packs ff">
                        <div class="pack"></div>
                        <div class="pack"></div>
                        <div class="pack"></div>
                        <div class="pack"></div>
                    </div>
                    <div class="col col-md-12 fp__price-info">
                        <ul>
                            <li>Fantastic Four</li>
                            <li>4 Masks per month</li>
                            <li>£2.75 per mask!</li>
                            <li>Free UK delivery</li>
                        </ul>
                        <a href="/subscribe" class="more-info">More Info</a>
                    </div>
                    <div class="col col-sm-12 p-2">
                        <div class="fp__subprice">
                            <sup>&pound;</sup>11</div>
                        <small>Monthly &bull; Cancel any time</small>

                        <button id="checkout-button-price_1HUpuiCazeDg6hkd6tioVtqF" class="btn btn-lg btn-primary btn-block mt-2" role="link" type="button">
                            Sign Up
                        </button>

                    </div>

                </section>
            </div>
        </div>
    </section>

    <section class="row justify-content-center text-center fp__usp mt-3">
        <div class="col-md-6 row align-items-center">
            <div class="col fp__usp--item">
                Great value
                <div class="fp__usp-desc">Get face masks cheaper than RRP</div>
            </div>
            <div class="col fp__usp--item">
                Free shipping
                <div class="fp__usp-desc">To all UK addresses</div>
            </div>
            <div class="col fp__usp--item">
                Unique selection
                <div class="fp__usp-desc">Different face masks every month</div>
            </div>
        </div>
    </section>

    <section class="row justify-content-center text-center fp__usp mt-3">
        <div class="col-md-6 row align-items-center">
            <div class="col fp__usp--item">
                Discover new brands
                <div class="fp__usp-desc">The best skin care brands from all around the world (not just Korea!)
                </div>
            </div>
            <div class="col fp__usp--item">
                Sheet, rinse, peel
                <div class="fp__usp-desc">Loads of variety</div>
            </div>
            <div class="col fp__usp--item">
                Be a pack member
                <div class="fp__usp-desc">Join our community of face mask lovers</div>
            </div>
        </div>
    </section>

    <section class="row justify-content-center text-center fp__brand-logos mt-3 mb-3">

        <div class="container">
            <section class="customer-logos slider">
                <div class="slide"><img src="img/brands/_purederm.png" alt="PureDerm"></div>
                <div class="slide"><img src="img/brands/_skin-academy.png" alt="Skin Academy"></div>
                <div class="slide"><img src="img/brands/_eveline.png" alt="Eveline"></div>
                <div class="slide"><img src="img/brands/_bielenda.png" alt="Bielenda"></div>
                <div class="slide"><img src="img/brands/_w7.png" alt="w7"></div>
            </section>
        </div>
        <h5>All the top brands you know and love, plus discover loads more from around the world</h5>
    </section>

    <section class="row justify-content-center text-center fp__tabs">
        <div class="col-md-6 row justify-content-center">

            <ul class="nav nav-pills flex-grow-1" id="myTab" role="tablist">
                <li class="nav-item flex-grow-1" role="presentation">
                    <a class="active" id="subscription-btn" data-toggle="tab" href="#subscription-tab" role="tab" aria-controls="subscription-tab" aria-selected="true">Subscription</a>
                </li>
                <li class="nav-item flex-grow-1" role="presentation">
                    <a class="" id="masks-btn" data-toggle="tab" href="#masks-tab" role="tab" aria-controls="masks-tab" aria-selected="false">Masks</a>
                </li>
                <li class="nav-item flex-grow-1" role="presentation">
                    <a class="" id="shipping-btn" data-toggle="tab" href="#shipping-tab" role="tab" aria-controls="shipping-tab" aria-selected="false">Shipping</a>
                </li>
            </ul>
        </div>
    </section>

    <section class="row justify-content-center fp__tab-content">
        <div class="col-md-6 row">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="subscription-tab" role="tabpanel" aria-labelledby="subscription-btn">
                    <div class="row">
                        <article class="col col-6">
                            <p>
                                <strong>When do my face masks arrive?</strong>
                            </p>
                            <p>The Face Pack monthly subscription service is, well… monthly! We post your first pack out on the first working day after you sign up for your beauty box subscription (so there is no waiting to start that new skin care routine!)
                                and then we send your packages on the same day every month.</p>
                            <p>For example, if you sign up for The Face Pack on the 5th of October - we post your first package out on the 6th of October, your second package on the 6th of November and so on.</p>
                        </article>
                        <article class="col col-6">
                            <p>
                                <strong>When will I be billed?</strong>
                            </p>
                            <p>You will be billed monthly on the date you started your subscription.</p>
                            <p>
                                <strong>Can I give The Face Pack skincare subscription box as a gift?</strong>
                            </p>
                            <p>Monthly beauty subscription boxes make an excellent gift and sending someone special a selection of the best sheet, rinse and peel beauty facial masks from around the world to discover every month will likely get you plenty
                                of brownie points. </p>
                            <p>You can absolutely send our monthly subscription packs out as a gift, just change the delivery address to that of the person you’d like to receive the gift. It's important to remember that you are the owner of the subscription
                                and so it's you who will have to pay monthly and who will need to cancel the subscription.</p>

                        </article>
                        <article class="col col-6">
                            <p>
                                <strong>How can I cancel my skincare subscription box?</strong>
                            </p>
                            <p>If you decide you no longer want our help achieving that dewy, glowing skin look then that's no problem. Just head over to the <a href="#">Manage Account</a> page and you can cancel from there. Subscriptions are cancelled right
                                away so as long as we are not sending your subscription box out that day you won’t receive any more sheet masks, rinse off masks or peel off masks through your letterbox (well, not from us anyway!).
                            </p>
                        </article>

                    </div>
                </div>
                <div class="tab-pane fade" id="masks-tab" role="tabpanel" aria-labelledby="masks-btn">
                    <div class="row">
                        <article class="col col-6">
                            <p>
                                <strong>What is in my package?</strong>
                            </p>
                            <p>Inside your shiny monthly subscription pack you will find a selection of either four, eight or twelve beauty facial masks depending on the selection you made during signup. The selection will be split between sheet masks, rinse
                                off masks and peel off masks and the split will vary each month. Sometimes you’ll get more masks (because we like to treat our pack members when we can!) but you’ll never get less than the stated amount. Occasionally we
                                may mix things up and add novel items we think you’d love such as eye masks or lip masks.</p>
                            <p>Also in your package will be a <a href="#">QR code</a> which you can scan with your phone to access detailed information about each face mask in your package.</p>
                        </article>
                        <article class="col col-6">
                            <p>
                                <strong>What will my package look like?</strong>
                            </p>
                            <p>Here are some photos from people who have received their packages to give you an idea of what the experience of receiving a selection of the best sheet, rinse and peel beauty facial masks in the post is like.</p>
                        </article>
                    </div>
                </div>
                <div class="tab-pane fade" id="shipping-tab" role="tabpanel" aria-labelledby="shipping-btn">
                    <div class="row">
                        <article class="col col-6">
                            <p>
                                <strong>How much does shipping cost? </strong>
                            </p>
                            <p>We don’t believe in charging a delivery fee on top of your order like some other beauty subscription boxes have been known to do. Shipping is absolutely free and you’ll never pay a delivery fee as long as you are within the
                                mainland UK.</p>
                        </article>
                        <article class="col col-6">
                            <p>
                                <strong>Do you ship internationally?</strong>
                            </p>
                            <p>We’re focussing on helping the people of the United Kingdom achieve beautiful, dewy, bright glowing skin at the moment so unfortunately we don’t ship internationally right now. If you are outside the UK and desperate to receive
                                the best beauty facial masks from around the world through your letterbox as well then you can always <a href="#">contact us</a> and we’ll let you know when we are able to deliver to your region.</p>
                        </article>
                        <article class="col col-6">
                            <p>
                                <strong>Will I have to be in to sign for my package?</strong>
                            </p>
                            <p>Packages are sent via Royal Mail standard delivery and have been specially designed to fit through your letterbox so there is no need to wait in and no chance of the dreaded red 'something for you' card from the postman.</p>
                        </article>
                        <article class="col col-6">
                            <p>
                                <strong>Can I track my package?</strong>
                            </p>
                            <p>Royal Mail don’t offer tracking for standard packages so unfortunately we can’t supply you with a tracking number. We will email you the day your subscription is sent out so you know it's on its way and parcels should then
                                arrive after two to three working days including Saturdays.</p>
                        </article>
                        <article class="col col-6">
                            <p>
                                <strong>I didn’t receive my package</strong>
                            </p>
                            <p>If you are not pampering yourself with a brightening mask or tackling those blackheads with a charcoal mask on the day you expected to be then we feel your pain! Please leave up to a week for Royal Mail to deliver your parcel
                                and if it has not arrived by then contact us and we’ll sort it out.</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="row justify-content-center text-center fp__btn p-3">
        <div class="col-md-6 row">
            <div class="col-6">
                <h4>Join the pack!</h4>
            </div>
            <div class="col-6">
                <a class="btn btn-lg btn-block btn-primary" href="#pricing">Sign Up Now</a>
            </div>
        </div>
    </section>

    <section class="row justify-content-center text-center fp__signup mb-4">
        <div class="col-md-6 row justify-content-center">
            <div class="col-12">
                <h5>Not ready to sign up to the ultimate face mask subscription yet?</h5>
            </div>
            <div class="col-12">
                <h6>Sign up for our mailing list and we'll keep you up to date with discounts, offers and face mask news
                </h6>
            </div>
            <div class="input-group col-6">
                <input type="email" class="form-control mt-3" placeholder="Enter your email">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">Subscribe</button>
                </span>
            </div>
        </div>
    </section>