<section class="posts row justify-content-center text-center">
<ol reversed class="postlist row justify-content-center text-center" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
{% if not "pack" in post.data.tags %}
  <li class="col-md-4 flex-grow-1">
<div class="postlist-item{% if post.url == url %} postlist-item-active{% endif %} ">
    {%- if post.data.limage -%}
      <a href="{{ post.url | url }}"><img src="{{post.data.limage}}" class="post-leadimage"></a>
    {%- endif -%}

    <a href="{{ post.url | url }}" class="postlist-link">
    {% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
    </a>
    <p>
    {% for tag in post.data.tags %}
      {%- if collections.tagList.indexOf(tag) != -1 -%}
      {% if tag == "pack" %}
      
      {% else %}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
      {%- endif -%}
      {%- endif -%}
    {% endfor %}
        </p>
        <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
     <p class="postlist-description">
     {{ post.data.description }}
     </p>
    </div>
  </li>
  {% endif %}
{% endfor %}
</ol>
</section>