<p>If you'd like to know more about whats in your pack scan the QR code below or visit <strong>thefacepack.com/packs/{{item.packageid}}</strong></p>

<img src="/img/QR/{{item.packageid}}.svg" width="300px">