<section class="row justify-content-center text-center fp__usp mt-3">
    <div class="col-md-6 row align-items-center">
        <div class="col fp__usp--item">
            Great value
            <div class="fp__usp-desc">Get face masks cheaper than RRP</div>
        </div>
        <div class="col fp__usp--item">
            Free shipping
            <div class="fp__usp-desc">To all UK addresses</div>
        </div>
        <div class="col fp__usp--item">
            Unique selection
            <div class="fp__usp-desc">Different face masks every month</div>
        </div>
    </div>
</section>

<section class="row justify-content-center text-center fp__usp mt-3">
    <div class="col-md-6 row align-items-center">
        <div class="col fp__usp--item">
            Discover new brands
            <div class="fp__usp-desc">The best skin care brands from all around the world (not just Korea!)
            </div>
        </div>
        <div class="col fp__usp--item">
            Sheet, rinse, peel
            <div class="fp__usp-desc">Loads of variety</div>
        </div>
        <div class="col fp__usp--item">
            Be a pack member
            <div class="fp__usp-desc">Join our community of face mask lovers</div>
        </div>
    </div>
</section>