---
layout: layouts/base_subscribe.njk
title: Subscribe to The Face Pack
description: Discover the best sheet, rinse and peel masks from around the world.
renderData:
    title: "Subscribe to the best sheet, rinse and peel beauty face mask subscription club - join The Face Pack!"
---
<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>


<div class="field">
    <input type="{{ type }}" name="{{ name }}" value="{{ value | escape }}"/>
</div>

<div class="container">
    <div data-netlify-identity-button="data-netlify-identity-button">Login</div>
    <div class="row justify-content-center">

        <div class="col-lg-6">
            <h2>Profit</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Pack ID</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Details</th>
                        <th scope="col">Total Cost</th>
                        <th scope="col">Profit</th>
                    </tr>
                </thead>
                <tbody>

                    {% for order in packages %}


                    {% for customer in customers %}
                    {% set planprice %}
                    {% set stripepaypercentamount %}
                    {% set stripepaycosts %}
                    {% set stripebillingcosts %}
                    {% set totalstripecharges %}
                                    {% if customer.customerid == order.customer %}

                                        {% for plan in plans %}
                                          {% if plan.planid == customer.plan %}
                                          
                                             {% set planprice = plan.price %}
                                             {% set stripepaypercentamount = planprice * stripe_payment_percent %}
                                             {% set stripepaycosts = stripepaypercentamount + stripe_payment_charge  %}
                                             {% set stripebillingcosts = planprice * stripe_billing_percent  %}
                                             {% set totalstripecharges = stripepaycosts + stripebillingcosts %}
                                
                                          {% endif %}
                                         {% endfor %}
                                    {% endif %}
                                {% endfor %}

                        {% set totalcost = 0 %}
                        {% set insertcost = 0.12 %}
                        {% set stickercost = 0.42 %}
                        {% set envelopecost = 0.24 %}

                        {% set stripe_payment_percent = 0.014 %}
                        {% set stripe_payment_charge = 0.20 %}
                        {% set stripe_billing_percent = 0.005 %}

                        <tr>
                            <td scope="row row justify-content-center">{{order.packageid}}</td>
                            <td>
                                {% for customer in customers %}
                                    {% if customer.customerid == order.customer %}
                                        {{customer.firstname}}
                                        {{customer.lastname}}

                                         {% for plan in plans %}
                                          {% if planid == customer.plan %}
                                             {% set planprice = plan.price %}
                                          {% endif %}
                                         {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>

                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#item{{loop.index}}">
                                    show
                                </button>

                                <div class="modal fade" id="item{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-600" role="document">
                                        <div class="modal-content">
                                            <div class="card card-body">

                                                <table class="table">
                                                    <tbody>
                                                        {% for item in order.contents %}
                                                            <tr>
                                                                {% for mask in stock %}
                                                                    {% if item == mask.itemid %}

                                                                        <td>
                                                                            {{mask.name}}
                                                                        </td>
                                                                        <td>
                                                                            {{mask.cost}}
                                                                        </td>

                                                                    {% endif %}
                                                                {% endfor %}
                                                            </tr>
                                                        {% endfor %}

                                                        {# loop over the seatCounts and add them up #}
                                                        {% for item in order.contents %}

                                                            {% for mask in stock %}
                                                                {% if item == mask.itemid %}
                                                                    {% set totalcost = totalcost + mask.cost %}
                                                                {% endif %}
                                                                {% endfor%}

                                                            {% endfor %}

                                                            

                                                            <tr>
                                                                <td>Postage</td>
                                                                <td>{{order.postage}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Insert</td>
                                                                <td>{{insertcost}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Stickers</td>
                                                                <td>{{stickercost}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Envelopes</td>
                                                                <td>{{envelopecost}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Stripe</td>
                                                                <td>
                                                                      {{totalstripecharges}}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;
                                                                </td>
                                                                <td>
                                                                    &pound;
                                                                    {% set totalcost = totalcost + order.postage + insertcost + stickercost + envelopecost + totalstripecharges %}
                                                                    {{ totalcost | round(2)}}</td>
                                                            </tr>
                                                        </tbody>

                                                    </table>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                                <td class="text-right">

                                    &pound;
                                    {{ totalcost | round(2)}}

                                </td>
                                <td class="text-right">

                                    {% for customer in customers %}
                                    {% if customer.customerid == order.customer %}

                                        {% for plan in plans %}
                                          {% if plan.planid == customer.plan %}
                                          
                                             {% set planprice = plan.price %}
                                             {% set stripepaypercentamount = planprice * stripe_payment_percent %}
                                             {% set stripepaycosts = stripepaypercentamount + stripe_payment_charge  %}
                                             {% set stripebillingcosts = planprice * stripe_billing_percent  %}
                                             {% set totalstripecharges = stripepaycosts + stripebillingcosts %}
                                   
                                   {{totalstripecharges | round(2)}}

                                          {% endif %}
                                         {% endfor %}
                                    {% endif %}
                                {% endfor %}

                                </td>
                            </tr>

                        {% endfor %}

                    </tbody>
                </table>

            </div>

        </div>

    </div>

    <script>
        // Open the modal
        netlifyIdentity.open();

        // Get the current user:
        // Available after on('init') is invoked
        const user = netlifyIdentity.currentUser();

        // Bind to events
        netlifyIdentity.on('init', user => console.log('init', user));
        netlifyIdentity.on('login', user => console.log('login', user));
        netlifyIdentity.on('logout', () => console.log('Logged out'));
        netlifyIdentity.on('error', err => console.error('Error', err));
        netlifyIdentity.on('open', () => console.log('Widget opened'));
        netlifyIdentity.on('close', () => console.log('Widget closed'));

        // Unbind from events
        netlifyIdentity.off('login'); // to unbind all registered handlers
        netlifyIdentity.off('login', handler); // to unbind a single handler

        // Close the modal
        netlifyIdentity.close();

        // Log out the user
        netlifyIdentity.logout();

        // Refresh the user's JWT
        // Call in on('login') handler to ensure token refreshed after it expires (1hr)
        // Note: this method returns a promise.
        netlifyIdentity
            .refresh()
            .then((jwt) => console.log(jwt))

        // Change language
        netlifyIdentity.setLocale('en');
    </script>