<div class="jumbotron callout">
  <h1 class="display-4">Not a member of The Face Pack yet?</h1>
  <p class="lead">Join the ultimate sheet, rinse and peel face mask discovery club</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>