<!-- Footer -->
<footer class="row page-footer font-small pt-4 d-print-none">

    <!-- Footer Links -->
    <div class="col container-fluid text-center text-md-left row justify-content-center m-0">

        <!-- Grid row -->
        <div class="row justify-content-center col-md-6 p-4">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">Want to keep up to date?</h5>
                <!-- Begin Mailchimp Signup Form -->
                <div id="mc_embed_signup" style="width:100%">
                    <form action="https://thefacepack.us2.list-manage.com/subscribe/post?u=dba9a1307df4f5c2423f11fd8&amp;id=b1bd68f253" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate row m-0" target="_blank" novalidate="novalidate">

                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="display: block; position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dba9a1307df4f5c2423f11fd8_b1bd68f253" tabindex="-1" value="">
                        </div>

                        <div id="mc_embed_signup_scroll" style="width:100%;display:flex;" class="row">
                            <div class="col-12 p-0"><input type="email" value="" name="EMAIL" class="email form-control mt-3" id="mce-EMAIL" placeholder="email address" required="required">
                            </div>
                            <div class="input-group-btn col-12 p-0">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-secondary btn-block">
                            </div>
                        </div>
                    </form>
                </div>

                <!--End mc_embed_signup-->

            </div>

            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-md-3 mb-md-0 mb-3">

                <ul class="list-unstyled">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/subscribe/">Subscribe</a>
                    </li>
                    <li>
                        <a href="/posts/">Blog</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-3 mb-md-0 mb-3">

                <ul class="list-unstyled">
                    <li>
                        <a href="/privacy/" target="_blank">Privacy &amp; Cookies</a>
                    </li>
                    <li>
                        <a href="/terms/" target="_blank">Terms &amp; Conditions</a>
                    </li>
                    <li>
                        <a href="/contact/" target="_blank">Contact</a>
                    </li>
                </ul>

            </div>

            <div class="col-12">
                <div class="footer-copyright text-center">&copy; 2020 The Face Pack</div>
            </div>

        </div>

    </div>
    <!-- Footer Links -->

</footer>

</section>
</div>

<!-- Current page: {{ page.url | url }} -->
</div>

<script id="mcjs">
!function (c, h, i, m, p) {
m = c.createElement(h),
p = c.getElementsByTagName(h)[0],
m.async = 1,
m.src = i,
p
.parentNode
.insertBefore(m, p)
}(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/dba9a1307df4f5c2423f11fd8/e92dee64e6c098f45e9211035.js");
</script>

<div id="cookieconsent" class="row">
<div role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookieconsent:desc" class="cc-window cc-banner cc-type-info cc-theme-block cc-bottom cc-color-override--1172037365 col-12 row cc-invisible">
<!--googleoff: all-->
<div id="cookieconsent:desc" class="cc-message col-10 text-left">This website uses cookies -
<a aria-label="learn more about cookies" role="button" tabindex="0" class="cc-link" href="https://www.cookiesandyou.com" rel="noopener noreferrer nofollow" target="_blank">info</a>
</div>
<div class="cc-compliance col-2 text-right">
<a aria-label="dismiss cookie message" role="button" tabindex="0" class="cc-btn cc-dismiss">OK</a>
</div>
<!--googleon: all-->
</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<script>
window.addEventListener('DOMContentLoaded', function () {

$('#cookieconsent').hide();
if ($.cookie('whenToShowDialog') == null) {
$.cookie('whenToShowDialog', 'yes', {
    expires: 60,
    path: '/'
});
$('#cookieconsent').show();
}
});
</script>

<script>
$(document).ready(function () {
$('.customer-logos').slick({
slidesToShow: 6,
slidesToScroll: 1,
autoplay: true,
autoplaySpeed: 1000,
arrows: false,
dots: false,
pauseOnHover: false,
responsive: [
    {
        breakpoint: 768,
        settings: {
            slidesToShow: 4
        }
    }, {
        breakpoint: 520,
        settings: {
            slidesToShow: 3
        }
    }
]
});
});
</script>

<script>
(function () {
var stripe = Stripe('pk_live_51HUpCrCazeDg6hkd0SO3AKqg9KHrV1SmLforiwYhAZHhohRB9dvt1CU4V2bDT3ALQfUrBHKMqLdO0vwsNn5GbQiO00jwsdn2kl');
var checkoutButton = document.getElementById('checkout-button-price_1HUpuiCazeDg6hkd6tioVtqF');
if (checkoutButton) {
checkoutButton.addEventListener('click', function () {
    stripe
        .redirectToCheckout({
            lineItems: [
                {
                    price: 'price_1HUpuiCazeDg6hkd6tioVtqF',
                    quantity: 1
                }
            ],
            mode: 'subscription',
            successUrl: window.location.protocol + '//www.thefacepack.com/thanks-for-your-order',
            cancelUrl: window.location.protocol + '//www.thefacepack.com/',
            billingAddressCollection: 'required',
            shippingAddressCollection: {
                allowedCountries: ['GB']
            }
        })
        .then(function (result) {
            if (result.error) {
                var displayError = document.getElementById('error-message');
                displayError.textContent = result.error.message;
            }
        });
});
};
})();
</script>

<script>
(function () {
var stripe = Stripe('pk_live_51HUpCrCazeDg6hkd0SO3AKqg9KHrV1SmLforiwYhAZHhohRB9dvt1CU4V2bDT3ALQfUrBHKMqLdO0vwsNn5GbQiO00jwsdn2kl');

var checkoutButton_1 = document.getElementById('checkout-button-price_1HUptdCazeDg6hkd2trImC87');
if (checkoutButton_1) {
checkoutButton_1.addEventListener('click', function () {
stripe
    .redirectToCheckout({
        lineItems: [
            {
                price: 'price_1HUptdCazeDg6hkd2trImC87',
                quantity: 1
            }
        ],
        mode: 'subscription',
        successUrl: window.location.protocol + '//www.thefacepack.com/thanks-for-your-order',
        cancelUrl: window.location.protocol + '//www.thefacepack.com/',
        billingAddressCollection: 'required',
        shippingAddressCollection: {
            allowedCountries: ['GB']
        }
    })
    .then(function (result) {
        if (result.error) {
            var displayError = document.getElementById('error-message');
            displayError.textContent = result.error.message;
        }
    });
});
};
})();
</script>

<script>
(function () {
var stripe = Stripe('pk_live_51HUpCrCazeDg6hkd0SO3AKqg9KHrV1SmLforiwYhAZHhohRB9dvt1CU4V2bDT3ALQfUrBHKMqLdO0vwsNn5GbQiO00jwsdn2kl');

var checkoutButton_2 = document.getElementById('checkout-button-price_1HUpsQCazeDg6hkdVhGZ4b9l');
if (checkoutButton_2) {
checkoutButton_2.addEventListener('click', function () {
stripe
    .redirectToCheckout({
        lineItems: [
            {
                price: 'price_1HUpsQCazeDg6hkdVhGZ4b9l',
                quantity: 1
            }
        ],
        mode: 'subscription',
        successUrl: window.location.protocol + '//www.thefacepack.com/thanks-for-your-order',
        cancelUrl: window.location.protocol + '//www.thefacepack.com/',
        billingAddressCollection: 'required',
        shippingAddressCollection: {
            allowedCountries: ['GB']
        }
    })
    .then(function (result) {
        if (result.error) {
            var displayError = document.getElementById('error-message');
            displayError.textContent = result.error.message;
        }
    });
});
};
})();
</script>