---
layout: layouts/base.njk
templateClass: tmpl-post
--- 
 <!-- Footer -->
                    <footer class="page-footer font-small pt-4">

                        <!-- Footer Links -->
                        <div class="container-fluid text-center text-md-left">

                            <!-- Grid row -->
                            <div class="row">

                                <!-- Grid column -->
                                <div class="col-md-6 mt-md-0 mt-3">

                                    <!-- Content -->
                                    <h5 class="text-uppercase">Want to keep up to date?</h5>
                                    <!-- Begin Mailchimp Signup Form -->
                    <div id="mc_embed_signup" style="width:100%">
                        <form action="https://thefacepack.us2.list-manage.com/subscribe/post?u=dba9a1307df4f5c2423f11fd8&amp;id=b1bd68f253" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate row m-0" target="_blank" novalidate>

                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="display: block; position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dba9a1307df4f5c2423f11fd8_b1bd68f253" tabindex="-1" value="">
                            </div>

                            <div id="mc_embed_signup_scroll" style="width:100%;display:flex;" class="row">
                                <div class="col-12 p-0"><input type="email" value="" name="EMAIL" class="email form-control mt-3" id="mce-EMAIL" placeholder="email address" required>
                                </div>
                                <div class="input-group-btn col-12 p-0">
                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-secondary btn-block">
                                </div>
                            </div>
                        </form>
                    </div>

                    <!--End mc_embed_signup-->

                                </div>


                                <hr class="clearfix w-100 d-md-none pb-3">


                                <div class="col-md-3 mb-md-0 mb-3">

                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="{{websiteroot}}">Home</a>
                                        </li>
                                        <li>
                                            <a href="{{websiteroot}}/subscribe">Subscribe</a>
                                        </li>
                                        <li>
                                            <a href="https://blog.thefacepack.com">Blog</a>
                                        </li>
                                    </ul>

                                </div>
                                   <div class="col-md-3 mb-md-0 mb-3">

                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="{{websiteroot}}/privacy" target="_blank">Privacy &amp; Cookies</a>
                                        </li>
                                        <li>
                                            <a href="{{websiteroot}}/terms" target="_blank">Terms &amp; Conditions</a>
                                        </li>
                                    </ul>

                                </div>

                            </div>

                        </div>
                        <!-- Footer Links -->

                        <!-- Copyright -->
                        <div class="footer-copyright text-center py-3">© 2020 The Face Pack</div>
                        <!-- Copyright -->

                    </footer>

                </section>
            </div>

            <!-- Current page: {{ page.url | url }} -->
        </div>


    <script id="mcjs">
        ! function(c, h, i, m, p) {
            m = c.createElement(h),
                p = c.getElementsByTagName(h)[0],
                m.async = 1,
                m.src = i,
                p
                .parentNode
                .insertBefore(m, p)
        }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/dba9a1307df4f5c2423f11fd8/e92dee64e6c098f45e9211035.js");
    </script>
