<div class="d-none d-print-block label">
    {% if fname %}
        <h1 class="row">Enjoy your masks,
            {{fname}}!</h1>
    {% endif %}
    {{ content | safe }}
    {% include "qrcode.njk" %}
</div>