<div class="d-print-block label">
    {% for customer in customers %}
        {% if customer.customerid == item.customer%}
            <h1 class="row d-print-none">Enjoy this month's pack, {{customer.firstname}}</h1>
        {% endif %}
    {% endfor %}

    {{ content | safe }}
</div>