---
layout: layouts/base.njk
templateClass: tmpl-post
---

{% set packid = page.filePathStem | replace("/packs/", "") %}

{% for item in packages %}
    {% if item.packageid == packid %}

        {% for customer in customers %}
            {% if customer.customerid == item.customer%}
                {% set fname = customer.firstname %}
                <section class="row blog-post justify-content-center d-flex d-print-none">
                    <div class="col-lg-6 pt-4 mt-4 row">
                        <h1 class="row d-block d-print-none text-center" style="width:100%">Here's whats in your pack this month,
                            {{fname}}</h1>
                            {% for plan in plans%}
                            {% if plan.planid == customer.plan %}
                                <h3>PLAN : {{plan.name}}</h3>
                            {% endif %}
                            {% endfor %}
                            
                        <p class="d-block d-print-none text-center" style="width:100%">Remember, each pack is unique to you! Mention &nbsp;
                            <strong>
                                #thefacepack
                            </strong>&nbsp;
                            and tag &nbsp;
                            <a href="https://instagram.com/the.face.pack" target="_blank">@the.face.pack</a> &nbsp;
                            when sharing your unboxings.</p>
                    </div>
                </section>
                {% include "layouts/label.njk" %}

            {% endif %}
        {% endfor %}

        <section class="row blog-post justify-content-center d-print-none">
            <div class="col-lg-5">

                {% for unit in stock %}
                    {% for mask in item.contents %}
                        {% if unit.itemid == mask %}
                            <div class="row pack-item">
                                <div class="col-md-4">

                                    <div class="row">
<div class="col-lg-12">
                                        {% for image in unit.imgs %}
                                            <img src="{{image}}" alt="" height="200" style="max-width:100%;display:block;margin: 0 auto"/>
                                        {% endfor %}
                                        </div>

                                        {% for brand in brands %}

                                            {% if brand.id == unit.brandid %}

                                                {% if brand.logo %}
                                                <div class="col-lg-6">
                                                    <img src="/img/brands/{{brand.logo}}" alt="{{brand.name}}" style="max-width:100%;display:block;margin: 0 auto">
                                                     </div>
                                                {% endif %}
                                               

                                                {% if brand.country %}
                                                    {% for flag in countries %}
                                                        {% if brand.country == flag.id %}
                                                            <div class="col-lg-6">
                                                                <img src="/img/flags/{{flag.flag}}" alt="{{flag.name}}" title="{{flag.name}}" height="30" style="max-width:100%;display:block;margin: 0 auto;border: 1px solid #ccc;">
                                                                </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}

                                            {% endif %}
                                        {% endfor %}
                                        {% if unit.url %}
                                            <div class="col-lg-12">
                                                <a href="{{unit.url}}" target="_blank" class="btn btn-lg btn-primary" style="max-width:100%;display:block;margin: 10px auto;">More Info</a>
                                            </div>
                                        {% endif %}

                                    </div>

                                </div>
                                <div class="col-md-8 text-left">
                                    <h2>{{unit.name}}</h2>
                                    <p>{{unit.description}}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

            {% endif %}
        {% endfor %}
    </div>
</section>