---
layout: layouts/base.njk
templateClass: tmpl-post
---

{{ content | safe }}

{% set packid = page.filePathStem | replace ("/packs/","") %}

{{packid}}

{% for item in packages %}
{% if item.packageid == packid %}

{% for customer in customers %}
{% if customer.customerid == item.customer%}
    <h1>Here's whats in this month's pack, {{customer.firstname}}</h1>
    {% else %}
{% endif %}
{% endfor %}

<section class="row">
{% for unit in stock %}
    {% for mask in item.contents %}
       {% if unit.stockid == mask %}

<div class="col-4"></div>
    <div class="col-8 text-left">
            <h4>{{unit.name}}</h4>
            <p>{{unit.description}}</p>
    </div>
        {% endif %}
    {% endfor %}
{% endfor %}
</section>

  {% endif %}
{% endfor %}