---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0&appId=628841017828335&autoLogAppEvents=1" nonce="XSVzidHA"></script>

{{ content | safe }}

{% include "callout.njk" %}

<div class="fb-share-button" data-href="{{ post.url | url }}" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ post.url | url }}" class="fb-xfbml-parse-ignore">Share</a></div>

{% set packid = page.filePathStem | replace ("/posts/packs/","") %}

{% for item in packages %}
  {{item.customer}}
{% endfor %}

<ul>
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>

{%- for post in collections.post -%}
 {{ post.url }}
{%- endfor -%}